@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
 body{
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
 }

/* .clippy{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 63% 90%, 50% 75%, 0% 75%);
} */

.dialog_box:after, .dialog_box:before {
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}
.dialog_box:after {
  border-width: 23px;
}
.dialog_box:before {
  border-width: 25px;
}
/*Arrow pointing BOTTOM*/
.dialog_box.bottom:after, .dialog_box.bottom:before {
	left: 20%;
	top: 100%;
}
.dialog_box.bottom:after {
  border-color:  #191A23 transparent transparent transparent ;
  margin-left: -23px;
}
.dialog_box.bottom:before {
  border-color:  #B9FF66 transparent transparent transparent ;
  margin-left: -25px;
}
@media (max-width: 600px) {
  .marque {
    width: 100%;
    overflow-x: hidden; 
    
  }
  .marquee {
    width: 100%;
    overflow-x: hidden; 
    
  }
}
